body {
    background-color: #E7E7E7;
}

header {
    font-size: x-large;
    text-align: center;
}

footer {
    text-align: center;
    padding: 30px 0 30px;
}

.wheelNavGitHub {
    height: 200px;
    width: 200px;
    margin: auto;
}

.wheelNav {
    height: 350px;
    width: 350px;
    margin: auto;
}

.wheelNavSmall {
    height: 120px;
    width: 120px;
    margin: auto;
}

@media (max-width: 480px) {
  .wheelNav {
    height: 250px;
    width: 250px;
  }

  .wheelNavSmall {
    height: 80px;
    width: 80px;
  }
}

.datetimeButton {
    width: 100px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    font-size: large;
    margin-bottom: 20px;
}

.datetimeButton:active {
    width: 100px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    font-size: large;
    margin-bottom: 20px;
}

.tradename {
    width: 200px;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    background-color: white;
    margin: 2px 0 2px;
}